name: main branch

on:
  push:
    branches: [ main ]
    paths:
      - 'api/**'
      - 'cmd/**'
      - 'deployments/**'
      - 'internal/**'
      - 'pkg/**'
      - 'scripts/**'
      - 'go.*'
      - 'Dockerfile'


jobs:
  version:
    runs-on: ubuntu-latest
    container: mpdred/semantic-tagger:latest
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 50

    - name: Set the version number
      run: |
        git config --global user.email "ci+github@welthee.com"
        git config --global user.name "ci"

        semtag -increment=auto -git-tag -push
